* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@-webkit-keyframes drop-down {
  0% {
    height: 0;
  }
  100% {
    height: unset;
  }
}

@keyframes drop-down {
  0% {
    height: 0;
  }
  100% {
    height: unset;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (min-width: 540px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 720px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1140px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

input, textarea {
  border: 0;
  outline: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.p-1 {
  padding: .25rem;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 3rem;
}

.m-1 {
  margin: .25rem;
}

.m-2 {
  margin: .5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 3rem;
}

.btn-purple {
  background: #8c00ff;
  color: #fff;
  font-size: x-large;
  border-radius: 5px;
  padding: 15px 50px;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-purple:hover {
  background: #7500d4;
  color: #fff;
}

.navbar {
  background: #7500d4;
  -webkit-box-shadow: 0 0 7px #333;
          box-shadow: 0 0 7px #333;
}

.navbar ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar ul li {
  padding-left: 20px;
}

.navbar ul li a {
  white-space: nowrap;
  position: relative;
  color: rgba(255, 255, 255, 0.7) !important;
}

.navbar ul li a:hover {
  color: rgba(255, 255, 255, 0.9) !important;
}

.navbar ul li a:hover::before {
  opacity: 1;
  bottom: 0;
}

@media only screen and (min-width: 567px) {
  .navbar ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    opacity: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 4px;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

@media only screen and (min-width: 992px) {
  .details {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fast-shortener {
  background: #350061;
}

.fast-shortener .form input {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 0 7px #333 inset;
          box-shadow: 0 0 7px #333 inset;
  font-size: 1.25rem;
}

.fast-shortener .form button {
  background: #8c00ff;
  color: #fff;
  font-size: x-large;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  -webkit-transition: .2s;
  transition: .2s;
}

.fast-shortener .form button:hover {
  background: #7500d4;
  color: #fff;
}

.fast-shortener .form p {
  color: #999;
}

.fast-shortener .form p a {
  color: #999;
  text-decoration: underline;
}

.fast-shortener .form p a:hover {
  color: #8c00ff;
}
/*# sourceMappingURL=main.css.map */